{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    <link rel="stylesheet" href="styles\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="styles\bootstrap\css\bootstrap.min.css">
    <link rel="stylesheet" href="styles\bootstrap\css\bootstrap-grid.css">
    <link rel="stylesheet" href="styles\bootstrap\css\bootstrap-grid.min.css">
    <link rel="stylesheet" href="styles\bootstrap\css\bootstrap-reboot.css">
    <link rel="stylesheet" href="styles\bootstrap\css\bootstrap-reboot.min.css">
    <link rel="stylesheet" href="styles\bootstrap\css\bootstrap-social.css">
    <link rel="stylesheet" href="styles\style.css">
</head>
<body>
    <!-- main container-->
    <div class="container-fluid">
      <!-- main row  -->
        <div class="row">
          <!-- first column -->
          <div class="col">
            <!-- left half row 1 logo -->
            <div class="row"> 
                <img src="images/eYantra_logo.svg" alt="e-yantra", width= '230px' height= '67px'>
            </div>
            <!-- row 1 end -->
            <!-- left half form row 2-->
            <div class="row">
              <div class="col-md-6">
                <main>
                    {% block local %}

                    {% endblock %}
                </main>
              </div>
            </div>
            <!-- row 2 end -->
            <div>
              <label>Select the key: </label>
              <select name="key" onChange="pressKey(this.form)">
                  <option value=""></option>
                  <option value="OFFHOOK">OFFHOOK</option>
                  <option value="ONHOOK">ONHOOK</option>
                  <option value="ENTER">ENTER</option>
                  <option value="CANCEL">CANCEL</option>
                  <option value="RIGHT">RIGHT</option>
                  <option value="LEFT">LEFT</option>
                  <option value="UP">UP</option>
                  <option value="DOWN">DOWN</option>
                  <option value="VOLUME_UP">VOLUME_UP</option>
                  <option value="VOLUME_DOWN">VOLUME_DOWN</option>
                  <option value="MENU">MENU</option>
                  <option value="REDIAL">REDIAL</option>
                  <option value="F_ADR_BOOK">ADDRESSBOOK</option>
                  <option value="DND">DND</option>
                  <option value="F1">F1</option>
                  <option value="F2">F2</option>
                  <option value="F3">F3</option>
                  <option value="F4">F4</option>
                  <option value="P1">P1</option>
                  <option value="P2">P2</option>
                  <option value="P3">P3</option>
                  <option value="P4">P4</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="*">*</option>
                  <option value="#">#</option>
              </select>
              <div>
                <label>Select the key: </label>
                <select name="key" onChange="pressKey(this.form)">
                    <option value=""></option>
                    <option value="OFFHOOK">OFFHOOK</option>
                    <option value="ONHOOK">ONHOOK</option>
                    <option value="ENTER">ENTER</option>
                    <option value="CANCEL">CANCEL</option>
                    <option value="RIGHT">RIGHT</option>
                    <option value="LEFT">LEFT</option>
                    <option value="UP">UP</option>
                    <option value="DOWN">DOWN</option>
                    <option value="VOLUME_UP">VOLUME_UP</option>
                    <option value="VOLUME_DOWN">VOLUME_DOWN</option>
                    <option value="MENU">MENU</option>
                    <option value="REDIAL">REDIAL</option>
                    <option value="F_ADR_BOOK">ADDRESSBOOK</option>
                    <option value="DND">DND</option>
                    <option value="F1">F1</option>
                    <option value="F2">F2</option>
                    <option value="F3">F3</option>
                    <option value="F4">F4</option>
                    <option value="P1">P1</option>
                    <option value="P2">P2</option>
                    <option value="P3">P3</option>
                    <option value="P4">P4</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="*">*</option>
                    <option value="#">#</option>
                </select>
            </div>
          </div>
            <!-- left half row 3 OR -->
            <div class="hl row">
                {% block or%}

                {% endblock%}
            </div>
            <!-- row 3 end -->

            <!-- left half row 4 social login -->
            <div class="row">
                {% block social %}

                {% endblock %}
            </div>
            <!-- row 4 end -->  
          </div>
          <!-- first col end -->

          <!-- second col half back ground -->
          <div class="col-md-6 side-logo">
            <img src="images/e-yantra-transparent.png" height="450", width="450" alt="e-logo">
          </div>
        </div>
      <!-- main row end -->
    </div>
  <!-- main container end -->



  <script src="styles\bootstrap\js\jquery-3.2.1.min.js"></script>
  <script src="styles\bootstrap\js\bootstrap.bundle.js"></script>
  <script src="styles\bootstrap\js\bootstrap.bundle.min.js"></script>
  <script src="styles\bootstrap\js\bootstrap.js"></script>
  <script src="styles\bootstrap\js\bootstrap.min.js"></script>
  
</body>
</html>